<div class="rule-body">
    <div class="rule-left">
       <BodyForm Operations=Operations @ref=BodyForm Fields=Fields></BodyForm>
    </div>
   <div class="rule-right">
       <button @onclick="@(_ => Delete.InvokeAsync(Id))" class="btn btn-danger">Delete</button>
   </div>
</div>

@code {
    [Parameter]
    public Dictionary<string, string> Fields { get; set; } = default!;
    [Parameter]
    public Dictionary<string, Dictionary<string, int>> Operations { get; set; } = default!;
    [Parameter]
    public string Id { get; set; } = default!;
    [Parameter]
    public EventCallback<string> Delete { get; set; }

    public BodyForm BodyForm { get; set; } = default!;

    public FormModel GetData()
    {
        return BodyForm.GetData();
    }
}
